<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Walking</string>
	<string>Running</string>
	<string>Resting</string>
	<string>Push-ups</string>
	<string>Sit-ups</string>
	<string>Lunges</string>
	<string>Squats</string>
	<string>Jump Rope</string>
</array>
</plist>
